
.body{
    background-color: #E0E0E0;
   
  text-align: center;
  
   
 
}

.container{
    text-align: center;
    background-color: aqua;
}

.content{
    text-align: right;
    width: 50%;
    background-color: red;
}