
.body{
   
    position: relative;
  text-align: center;
  width: 80%;
height: 650px;
  border: 2px solid #fff;
  text-align: center;
  background-color: #E0E0E0;
  border: 1px solid #6F6B6B;
  border-radius: 1rem!important;
  overflow-x: hidden;
  overflow-y: auto;
}

.head{
    position: sticky;
}

.container{
    text-align: center;

}

.content{
    position: relative;
    text-align: center;
    width: 50%;

}

.center{
    margin-left: auto;
    margin-right: auto;
   
}