
/* BACKGROUND */
.mainBg {
    width: 100vw;
    height: 100vh;
    z-index: -1;
    background-color: whitesmoke;
    background-image: url('equations.png');
}

.optionsBg {
    position: absolute;
    width: 256px;
    height: 100%;
    background-color: #5D7FC5;
}

.boardBg {
    position: absolute;
    left: 256px;
    width: 80%;
    height: 100%;
}

/* OPTIONS */
.dropdownStyle {
    width: 80%;
    margin: 10%;
    border-radius: 10%;
    background-color: whitesmoke;
}
