@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

.bod { 
    background-image: url('assets/main.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -100px;
    height: 100vh;
}


.box {
    /* margin-left: 30%; */
    width: 45%;
    background: rgba(255, 255, 255, 0.65);
    border-radius: 25px;
    padding: 20px;
    margin: auto;
}

.boxTitle {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 50px;
    text-align: center;

    color: #333333;
}

.boxText {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    text-align: center;

    color: #000000;
}

.form-control:focus {
    box-shadow: none;
}
  
.form-control-underlined {
    border-width: 0;
    border-bottom-width: 1px;
    border-radius: 0;
    padding-left: 0;
}

.form-control::placeholder {
    font-size: 0.95rem;
    color: #aaa;
    font-style: italic;
}

.tutorButton {
    border-style: none;
    border-radius: 48px;
    z-index: 2;
    padding: 8px 20px 8px 20px;
    font-size: 24px;
    color: whitesmoke;
    background-color: #5D7FC5;
}

.tutorButton:hover {
    color: whitesmoke;
    background-color: #86afff;
}