
.mainBox {
    position: relative;
    width: 20%;
    height: 40vh;
    margin: 2vh;
    z-index: 0;
}

.tutorInfo {
    position: absolute;
    width: 80%;
    height: 100%;
    left: 20%;
    z-index: 1;
    background-color: #E0E0E0;
}

.tutorImg {
    position: absolute;
    width: 9vw;
    height: 20vh;
    top: 2vh;
    z-index: 2;
    background-color: #5D7FC5;
}

.contactButton {
    border-radius: 5vmin;
    border-style: none;
    color: whitesmoke;
    background-color: #5D7FC5;
}

.contactButton:hover {
    background-color: midnightblue;
}