
.mainBox {
    position: relative;
    width: 240px;
    height: 240px;
    margin: 32px 32px 0px 32px;
    z-index: 0;

}

.tutorMain {
    width: 80%;
    height: 55%;
    margin-left: 20%;
    z-index: 1;
    background-color: #E0E0E0;
}

.tutorInfo {
    width: 80%;
    height: 45%;
    margin-left: 20%;
    z-index: 1;
    background-color: #E0E0E0;
}

.tutorImg {
    width: 50%;
    height: 50%;
    margin-top: 4%;
    margin-left: 10%;
    float: left;
    z-index: 2;
    background-color: coral;
}

.contactButton {
    border-style: none;
    border-radius: 16px;
    z-index: 2;
    margin-top: 16px;
    margin-left: 15px;
    padding: 4px 24px 4px 24px;
    font-size: 12px;
    color: whitesmoke;
    background-color: #1b52c0;
}

.contactButton:hover {
    background-color: #5D7FC5;
}